<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="ISO-8859-1">
<!-- Custom styles for this template-->
<link href="sb-admin.css" rel="stylesheet">
<title>Inicio</title>
</head>
<body>
<p th:if="${resultado == 1}" class="mb-0">Categoria guardada con &eacute;xito</p><br/>
<p th:if="${resultado2 == 2}" class="mb-0">Libro guardado con &eacute;xito</p><br/>

<table cellpadding="10">          	          			
      	<tr>
			<td><form th:action="@{/nuevoLibro}">
          		<input type="submit"  class="btn btn-primary" value="Ingresar Libro" />
        	</form></td>
        	
        	<td><form th:action="@{/nuevaCategoria}">
          		<input type="submit"  class="btn btn-primary" value="Ingresar Categoria" />
         	</form></td>
         	
         	<td><form th:action="@{/lista}">
          		<input type="submit"  class="btn btn-primary" value="Ver Libros" />
         	</form></td>
		</tr>
          	
</body>
</html>